.Rproj.user
.Rhistory
.RData
inst/include/RcppArmadilloConfigGenerated.h
src/Makevars
src/*.o
src/*.so
src/*.dll
*tar.gz
local/*
GPATH
GRTAGS
GTAGS
inst/include/armadillo_bits/config.hpp.cmake
inst/include/current/armadillo_bits/config.hpp.cmake
inst/include/legacy/armadillo_bits/config.hpp.cmake
