useDynLib(RcppArmadillo)

import(Rcpp)

export(fastLmPure, fastLm, RcppArmadillo.package.skeleton)
S3method(fastLm, default)
S3method(fastLm, formula)
S3method(predict, fastLm)
S3method(print, fastLm)
S3method(summary, fastLm)
S3method(print, summary.fastLm)

export(armadillo_version,armadillo_set_seed,armadillo_set_seed_random)

