useDynLib(RcppArmadillo)

export(fastLmCall,
       fastLm,
       fastLm.default,
       fastLm.formula,
       print.fastLm,
       summary.fastLm,
       print.summary.fastLm)
export(RcppArmadillo.package.skeleton)

